body{

  background-image: url(../images/scribble_light.png);
  background-position: inherit inherit;
  background-repeat: repeat repeat
}


/*
  ========================================
  Typography
  ========================================
  */

  h1, h2, h3, h4 {
    color: #648880;
  }
  h1, h3, h4, h5, p {
    margin-bottom: 16px;

  }
  h1 {
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 24px;
    line-height: 44px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
  strong {
    font-weight: 400;
  }
  cite,
  em {
    font-style: italic;
  }
  
  .hero{
   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
   font-size: 21px;
   line-height: 33px;
   text-align: center;
 }
 article{
   background-color :#fff;
   margin-bottom: 10px;
   margin-top: -50px;
 }
 footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   margin-top: 50px;
   
 }
 .description {
  margin-left: 10px;

}
.speaker-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 60px;
  padding: 22px 0;
  text-align: center;
}

#wrapper{
  margin-top: 65px;
}
#footer_background{
  background: #2f2f2f;
}
#footer_background p{
  color: white;
}
.center{
  text-align: center;
}


#logo{
  margin-top: -26px;
  margin-left: 8px;
}
#carousel-example-generic{
  margin-top: -50px;
}
#slider{
  margin-left:30px;
  margin-bottom: 10px;
}
@media(max-width: 767px){
  #logo{
    margin-top: -85px;
  }
  #carousel-example-generic{
    margin-top: -20px;
  }
  #slider{
    margin-left:-4px;
    margin-bottom: 10px;
  }
  #wrapper{
    margin-top: 35px;
  }
  article{
   background-color :#fff;
   margin-bottom: 36px;
   margin-top: -50px;
 }
}